* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.navbar {
  padding: 8px 35px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  width: 100%;
  height: 350px;
}

.header-overlay {
  position: relative;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(30, 30, 30, 0.6),
    rgba(52, 52, 52, 0.4)
  );
  margin-left: 0;
  height: 100%;
  width: 100%;
  padding: 50px;
}

input[type="search"] {
  font-size: 12px;
  font-weight: 1;
}

.movie-search-input {
  width: 40%;
  height: 27px;
}

.search-btn {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn > i {
  font-size: 12px;
}

.main-wrapper {
  margin: 23px 50px;
  height: 2000px;
  /* border: 1px solid red; */
}

.card {
  margin-bottom: 23px;
  transition: transform 0.3s ease;
  border: none;
}

.card:hover {
  filter: drop-shadow(0 0 3px #0dcaf0);
  transform: scale(1.1);
  z-index: 1;
}

.card-title {
  font-size: 12px;
  margin-bottom: 3px;
  line-height: 1;
}

.card-text {
  font-size: 10.5px;
  line-height: 1.1;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(52, 52, 52, 0.01), rgb(0, 0, 0));
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
}

.overlay-content:hover {
  opacity: 1;
}
.overlay-text {
  text-shadow: 1px 1px 2px #000000;
}

.overlay-rating {
  /* border: 1px solid green; */
  height: 13px;
  margin-top: 6px;
}

.rating {
  display: flex;
}

.rating-point {
  font-size: 10px;
}

.rating-star {
  margin-top: 2px;
  height: 10px;
}

/*change the thinkness of the scrollbar here*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/*this is the little scrolly dealio in the bar*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #343a40;
  height: 3px;
}
/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
::-webkit-scrollbar-corner {
  display: none;
  height: 0px;
  width: 0px;
}

.footer {
  height: fit-content;
  /* font-style: italic; */
  border: 1px solid red;
}

.tmdb-logo {
  width: 80px;
}

.movie-details {
  /* border: 1px solid red; */
  /* display: flex; */

  gap: 25px;
}

.cast-container {
  /* border: 1px solid blue; */
  height: fit-content;
  width: 75%;
}

.cast-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 1;
  box-shadow: inset -60px 0 20px #1a1a1a;
}

.socials-container {
  /* border: 1px solid blue; */
  margin-top: 20px;
  height: 300px;
  /* position: absolute;
  top: 0; */
}

.cast-card {
  width: 140px;
  height: 264px;
  z-index: -1;
}

.cast-card > img {
  /* border: 1px solid orange; */
  width: 140px;
  min-height: 140px;
  object-fit: cover;
}

.cast-card-body {
  padding: 10px;
  line-height: 13px;
}

.cast-name {
  font-size: 12px;
  font-weight: 700;
  /* margin-top: 8px; */
}

.cast-character {
  font-size: 12px;
  margin-top: -10px;
}

.side-details-container {
  width: 25%;
}

.keyword-badge {
  font-weight: 300;
}

.reviews-container {
  border: 1px solid red;
  /* width: fit-content; */
}

.reviewer-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.show-more-review {
  text-decoration: none;
}

.production-company-name {
  font-size: 16px;
  margin-bottom: 1px;
  font-weight: 300;
}